.custom-calendar {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.calendar-container {
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20%;
}

.react-calendar {
  background-color: #3e3c41;
  border-radius: 10px;
  color: #b2afb6;
  border: none;
  padding: 15px;
}

.react-calendar__tile {
  background: none;
  color: #b2afb6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Garantindo que o tamanho do tile seja consistente */
  aspect-ratio: 1; /* Garante proporções iguais */
}

/* Dia atual com sublinhado personalizado */
.react-calendar__tile--now {
  position: relative;
  font-weight: bold; /* Negrito */
  color: #ffffff; /* Texto branco */
}

/* .react-calendar__tile--now::after {
  content: "";
  position: absolute;
  bottom: 13px; /* Ajuste o valor para controlar o espaçamento */
  left: 50%;
  transform: translateX(-50%);
  width: 10%; /* Largura do sublinhado */
  height: 1px; /* Espessura do sublinhado */
  background-color: #ffffff; /* Cor do sublinhado */
} */

.react-calendar__navigation button {
  font-size: 30px;
}

.month-year {
  cursor: default; /* Altera o cursor para padrão */
  pointer-events: none; /* Desativa eventos de clique */
  font-size: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 250px;
  height: 30px;
}

.react-calendar__tile--active {
  background-color: #504c4c !important; 
  color: #ffc100 !important; 
  border: 1px solid #ffc100 !important;
  border-radius: 10px;
  /* font-weight: bold; */
}

.custom-calendar .react-calendar__tile {
  height: 45px; /* Ajuste a altura mínima conforme necessário */
}


/* Remover sublinhado do dia atual quando selecionado */
.react-calendar__tile--now.react-calendar__tile--active::after {
  display: none;
}

.custom-navigation {
  text-align: center;
  margin-bottom: 10px;
}
.react-calendar__navigation__label {
  cursor: default; /* Altera o cursor para padrão */
  pointer-events: none; /* Desativa eventos de clique */
}
.events-container {
  display: flex;
  justify-content: center;
  gap: 3px; /* Espaçamento entre bolinhas */
  flex-wrap: wrap; /* Permite quebra de linha */
  margin-top: 1px;
}

.event-dot {
  width: 8px;
  height: 8px;
  background-color: #ffc100;
  border-radius: 50%;
}

.event-day {
  position: relative;
}

.react-calendar__tile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Remover sublinhado dos dias da semana */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none; /* Remove sublinhado */
  font-size: 0.875rem; /* Tamanho da fonte para os dias da semana */
}

/* Centralizar os dias da semana */
.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
}

/* CustomCalendar.css */
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.custom-navigation {
  text-align: center;
  /* margin-bottom: 10px; */
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none; /* Oculta os botões de navegação de mês anterior e próximo */
}

.month-year {
  font-weight: bold;
}

.selected-events {
  margin-top: 10px;
}

.react-calendar__tile--active:hover {
  background-color: #504c4c !important;
}

.custom-navigation .month-year {
  font-weight: bold; /* Negrito */
  color: #ffffff; /* Cor do texto */
  text-transform: capitalize; /* Capitaliza a primeira letra */
  text-align: center; /* Centraliza o texto */
}

.custom-navigation {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 10px 0; /* Espaçamento vertical */
}

.selected-events {
  margin-bottom: 20px;
}
