.list-members {
  display: flex;
  flex-direction: column;
}

.list-members .settings-box-header {
  margin: 5px 15px;
}

.infos-sector-members {
  text-align: center;
  margin-bottom: 10px;
}

.infos-sector-members p {
  color: white;
  font-size: 14px;
  font-weight: 800;
}

.settings-img-white {
    background-color: transparent;
    border: 1px solid rgba(255, 193, 0, 1);
}
