.header-calendary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 30px; */
}

.img-user {
  width: 100px;
  height: 100px;
  background-color: #FFC100;
  border-radius: 50%;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 0;
  font-weight: bold;
  /* padding: 5px; */
}

.name-user {
  color: white;
  font-weight: bold;
}


.back {
  display: flex;
  width: 100%;
  margin-left: 30px;
  margin-top: 20px;
}

.back a {
  color: white;
  text-decoration: none;
}

.back img {
  width: 13px;
}