.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #000;
  overflow-x: hidden; /* Evita barra de rolagem horizontal */
}



