:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  background-color: #000;
}


button {
  border-radius: 10px;
}

button:hover {
  background-color: red;
}

