/* src/Card.css */
.card-container {
  display: grid;
  grid-template-columns: 80% auto;
  gap: 10px;
  background: #ffc100;
  color: black;
  padding: 10px;
  border-radius: 10px;
  height: 130px;
  position: relative;
  margin: 20px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  color: black;
  font-size: 20px;
  margin: 0;
}

.day {
  font-weight: bold;
  font-size: 25px;
}

.timestamp {
  font-size: 1.3em;
  color: #00000070;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
